.contactpage{
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 10px;
    width: 800px;
}
.contactpage__button{
    background-color:orange ;
    color: white;
    
}
.contactpage__interest{
    background-color: skyblue;
    color: black;
    width: 200px;
    height: 200px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    border-top: 30px skyblue solid;
}
.contactpage__project{
    background-color: orange;
    color: black;
    display: inline-block;
    padding: 10px solid white;
    padding-left: 10px;
    border-radius: 10px;
}
*{
    margin: 0;
    padding: 0;
}
.contactpage__about{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 800px;
}
.contactpage__title{
    padding: 5px;
    padding-left: 10px;
    

}
.contactpage__uolist{
    padding: 10px;
}
.contactpage__inttitle{
    padding: 10px;

}
.contactpage__hobbies{
    padding: 10px;
}
.contactpage__social{
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;width: 800px;
    margin-left: 10px;
}
.contactpage__sociallink{
    color: blue;

}

   
body{
    font-family: "Young Serif", serif;
}
.contactpage__link{
    text-decoration: none;
    background-color: orange;
    color: white;
    padding: 2px;
    margin-top: 5px;
}
.contact__title{
    background-color: black;
    color: white;
    padding: 10px;
    width: 800px;


}
.contact__home{
    background-color: orange;
    color: white;
    padding: 3px;
    text-decoration: none;
    margin-left: 10px;
}
.contact__name{
    padding: 10px;
}
.contact__para{
    padding: 10px;
}
.contact__des{
 padding: 10px;  
}
.contact__final{
    background-color: black;
    color: white;
    width: 800px;
    padding: 10px;
}
body{
    font-family: "Young Serif", serif;
}
.contact__linked{
    color: skyblue;
}
.contact__input{
border: none;
border-bottom: 1px solid black;
}
.contact__input--modified{
border: 1px black solid;
}
.contact__submit{
background-color: orange;
color: black;
padding: 5px;
border: none;
}
.contact__input,.contact__input--modified,.contact__submit{
    margin-top: 10px;
  
}